<div class="header w-full h-fit flex flex-col justify-center items-center font-primary">
    <div
        class="header-top w-full h-fit py-2.5 px-5 bg-lightGreen xs:hidden lg:flex flex-row justify-between items-center">
        <div class="header-top-left flex flex-row justify-start items-center">
            <div class="font-extralight text-xs">Find Store</div>
            <div class="header-divider font-extralight text-lg text-gray-400 mx-2">|</div>
            <div class="header-mail font-extralight text-xs">support&commat;boutique.com</div>
        </div>
        <div class="header-top-right font-extralight text-xs">3891 Ranchview Dr. Richardson, California 62639</div>
    </div>
    <div class="navbar w-full h-fit flex flex-row justify-center items-center border-b border-gray-400/50">
        <div class="navbar-wrap w-full h-fit flex flex-row justify-center items-center">
            <div class="navigation w-full h-fit flex flex-row justify-center items-center">
                <div class="nav-menu-two w-full h-fit flex flex-row justify-between items-center px-5 py-2.5">
                    <div class="flex lg:hidden">
                        <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-black font-light" appOpenMobileMenu>
                          <span class="sr-only">Open main menu</span>
                          <svg class="h-7 w-7 text-black font-light" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                          </svg>
                        </button>
                      </div>
                    <div class="hidden font-primary" id="mobile-menu" role="dialog" aria-modal="true">
                        <!-- Background backdrop, show/hide based on slide-over state. -->
                        <div class="fixed inset-0 z-10"></div>
                        <div class="fixed inset-y-0 left-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
                          <div class="flex items-center justify-between">
                              <button type="button" class="-m-2.5 rounded-md p-2.5 text-black" appCloseMobileMenu>
                                  <span class="sr-only">Close menu</span>
                                  <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                    </svg>
                                </button>
                                <a href="#" class="-m-1.5 p-1.5">
                                  <span class="sr-only">Your Company</span>
                                  <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
                                </a>
                          </div>
                          <div class="mt-6 flow-root">
                            <div class="-my-6 divide-y divide-gray-500/10">
                              <div class="space-y-2 py-6">
                                <!-- <div class="-mx-3">
                                  <button type="button" class="flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base font-normal leading-7 text-gray-900 hover:bg-gray-50" aria-controls="disclosure-1" aria-expanded="false">
                                    OUR STORY -->
                                    <!--
                                      Expand/collapse icon, toggle classes based on menu open state.
                    
                                      Open: "rotate-180", Closed: ""
                                    -->
                                    <!-- <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                      <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                                    </svg>
                                  </button> -->
                                  <!-- 'Product' sub-menu, show/hide based on menu state. -->
                                  <!-- <div class="hidden mt-2 space-y-2" id="disclosure-1">
                                    <a href="#" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-normal leading-7 text-gray-900 hover:bg-gray-50">Analytics</a>
                                    <a href="#" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-normal leading-7 text-gray-900 hover:bg-gray-50">Engagement</a>
                                    <a href="#" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-normal leading-7 text-gray-900 hover:bg-gray-50">Security</a>
                                    <a href="#" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-normal leading-7 text-gray-900 hover:bg-gray-50">Integrations</a>
                                    <a href="#" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-normal leading-7 text-gray-900 hover:bg-gray-50">Automations</a>
                                    <a href="#" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-normal leading-7 text-gray-900 hover:bg-gray-50">Watch demo</a>
                                    <a href="#" class="block rounded-lg py-2 pl-6 pr-3 text-sm font-normal leading-7 text-gray-900 hover:bg-gray-50">Contact sales</a>
                                  </div>
                                </div> -->
                                <a routerLink="/about" class="-mx-3 block rounded-lg px-3 py-2 text-base font-normal leading-7 text-gray-900 hover:bg-gray-50">OUR STORY</a>
                                <a routerLink="/product-list" class="-mx-3 block rounded-lg px-3 py-2 text-base font-normal leading-7 text-gray-900 hover:bg-gray-50">SHOP</a>
                                <a routerLink="/categories" class="-mx-3 block rounded-lg px-3 py-2 text-base font-normal leading-7 text-gray-900 hover:bg-gray-50">CATEGORY</a>
                                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-normal leading-7 text-gray-900 hover:bg-gray-50">BLOGS</a>
                                <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-normal leading-7 text-gray-900 hover:bg-gray-50">REVIEWS</a>
                              </div>
                              <div class="py-6">
                                <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-normal leading-7 text-gray-900 hover:bg-gray-50">Log in</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    
                    <ul class="nav-menu-block xs:hidden lg:basis-2/5 lg:flex flex-row justify-start items-center text-sm font-normal">
                        <li class="py-1 text-center mr-3"><a routerLink="/about" class="cursor-pointer leading-relaxed">OUR STORY</a></li>
                        <li class="py-1 text-center mx-3"><a routerLink="/product-list" class="cursor-pointer leading-relaxed">SHOP</a></li>
                        <li class="py-1 text-center mx-3"><a routerLink="/categories" class="cursor-pointer leading-relaxed">CATEGORY</a></li>
                        <li class="py-1 text-center mx-3"><a class="cursor-pointer leading-relaxed">BLOGS</a></li>
                        <li class="py-1 text-center mx-3"><a class="cursor-pointer leading-relaxed">REVIEWS</a></li>
                        <li class="py-1 text-center ml-3"><a routerLink="/contact" class="cursor-pointer leading-relaxed">CONTACT</a></li>
                    </ul>
                    <a
                      routerLink="/"  class="navbar-brand lg:basis-1/5 flex flex-row justify-center items-center text-2xl font-bold cursor-pointer leading-relaxed">BOUTIQUE</a>
                    <div class="head-right lg:basis-2/5 flex flex-row justify-end items-center">
                        <form class="xs:hidden lg:relative w-max">
                            <input type="search"
                                class="peer cursor-pointer relative z-10 h-10 w-9 rounded-full border border-black/0 bg-transparent pl-4 outline-none focus:w-full focus:cursor-text focus:border-black focus:pl-16 focus:pr-4" />
                            <svg xmlns="http://www.w3.org/2000/svg"
                                class="absolute inset-y-0 my-auto h-8 w-12 px-3 peer-focus:border-black peer-focus:stroke-black"
                                fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                            </svg>
                        </form>
                        <!-- <a href="">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                            </svg>        
                          </a> -->
                        <a>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>