<section class="footer bg-black py-5 w-full h-fit flex flex-col justify-center items-center font-primary text-white">
    <div class="footer-wrap xs:w-90% lg:container h-fit md:px-5 flex flex-col justify-start items-center">
        <div class="footer-top-wrap w-full h-fit mt-15 flex xs:flex-col xs:justify-start xs:items-start xs:space-y-10 md:space-y-0 md:flex-row md:justify-between md:items-start">
            <div class="footer-left xs:w-full md:basis-2/5 w-fit flex flex-col justify-start items-start text-left">
                <a class="cursor-pointer text-white text-2xl font-semibold">BOUTIQUE</a>
                <div class="newsletter w-full h-fit flex flex-col justify-start items-start mt-13">
                    <h4 class="newsletter-title mt-2.5 xs:text-xl md:text-2xl font-light">Discover the latest trends with us</h4>
                    <div class="newsletter-data w-full h-fit flex flex-col justify-start items-start mt-5">
                        <div id="email" class="mb-4 w-full h-fit flex flex-row justify-start items-center">
                            <form id="email-form" class="w-full h-fit">
                                <div class="newsletter-field-wrap xs:w-full xs:max-w-md lg:w-fit flex flex-row justify-between items-center border-b border-white mb-2.5">
                                    <input type="email" id="email" class="bg-black py-2 lg:pr-36 text-white xs:text-xs+ md:text-sm font-light outline-none focus:text-white focus:bg-black focus:outline-none focus:font-light focus:decoration-0" maxlength="256" name="email" data-name="email" placeholder="Your Email" required>
                                    <button type="submit" class="flex flex-row justify-center items-center font-extralight">
                                        SUBSCRIBE
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.25" stroke="currentColor" class="size-5 ml-3">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                                          </svg>
                                    </button>
                                </div>
                            </form>
                            <div class="success-message"></div>
                            <div class="error-message"></div>
                        </div>
                        <div class="newsletter-text xs:text-xs+ md:text-sm font-extralight">
                            By Submitting the form you agree with our 
                            <a class="underline cursor-pointer">Terms&Conditions</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-right xs:w-full md:basis-2/5 h-full grid xs:grid-cols-2 xs:grid-rows-2 xs:gap-y-8 md:gap-y-0 md:grid-cols-3 md:grid-rows-1 text-left text-white xs:text-xs+ md:text-sm font-light">
                <ul class="list-wrap">
                    <li class="f-link"><a href="">Home</a></li>
                    <li class="f-link"><a href="">About Us</a></li>
                    <li class="f-link"><a href="">Shop</a></li>
                    <li class="f-link"><a href="">Blogs</a></li>
                    <li class="f-link"><a href="">Reviews</a></li>
                    <li class="f-link"><a href="">Contact</a></li>
                </ul>
                <ul class="list-wrap">
                    <li class="f-link"><a href="">Style Guide</a></li>
                    <li class="f-link"><a href="">Licensing</a></li>
                    <li class="f-link"><a href="">Changelog</a></li>
                    <li class="f-link"><a href="">Error 404</a></li>
                    <li class="f-link"><a href="">Privacy Policy</a></li>
                    <li class="f-link"><a href="">Return Policy</a></li>
                </ul>
                <ul class="list-wrap">
                    <li class="f-link"><a href="">Instagram</a></li>
                    <li class="f-link"><a href="">Facebook</a></li>
                    <li class="f-link"><a href="">YouTube</a></li>
                    <li class="f-link"><a href="">Twitter</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom-wrap md:mt-30 pt-5 text-white text-sm font-extralight w-full flex flex-row justify-between items-center border-t border-white/45">
            <div class="small text-left">
                Designed by 
                <a href="https://github.com/klajdioshafi" target="_blank" class="underline cursor-pointer">Klajdi Oshafi</a>. Powered by 
                <a href="https://angular.dev" target="_blank" class="underline cursor-pointer">Angular</a>.
            </div>
            <div class="small text-right">
                Copyright &copy; 2024 Boutique. All rights reserved.
            </div>
        </div>
    </div>
</section>