<div class="page-title">
    <div class="page-container">
        <div class="section-title">
            <h2 class="page-heading">Categories</h2>
        </div>
    </div>
</div>
<div class="page-wrapper">
    <div class="category-section w-full h-fit xs:mt-15 md:mt-20 xs:mb-20 md:mb-36 mx-auto">
        <div class="w-dyn-list max-w-7xl mx-auto text-dark w-full h-fit flex flex-row justify-center items-center">
            <ul class="product-list mx-auto px-5 w-full h-fit grid grid-flow-row xs:grid-cols-2 md:grid-cols-3 xs:gap-x-4 md:gap-x-6 lg:gap-x-8 xs:gap-y-6 lg:gap-y-8" role="list">
                <li class="product-item w-full max-w-100 h-fit flex flex-col justify-start items-center text-center" role="listitem">
                    <a href="#" class="product-block w-full h-fit">
                        <div class="relative w-full h-fit">
                            <img src="../../assets/images/category-list-img01.jpg" alt="Category Image"
                                class="w-full h-full object-cover">
                            <div class="absolute inset-0 bg-black bg-opacity-50"></div>
                            <div class="absolute bottom-0 xs:pb-6 md:pb-8 lg:pb-10 w-full h-fit flex flex-col justify-start items-center text-center z-20">
                                <h6 class="product-name mb-2.5 uppercase sm:text-xl md:text-2.5xl text-white">skincare</h6>
                                <button
                                    class="product-price text-sm font-normal uppercase bg-white xs:w-80% xs:mx-auto md:w-fit md:px-16 xs:py-3 md:py-4">shop
                                    now</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="product-item w-full max-w-100 h-fit flex flex-col justify-start items-center text-center" role="listitem">
                    <a href="#" class="product-block w-full h-fit">
                        <div class="relative w-full h-fit">
                            <img src="../../assets/images/category-list-img02.jpg" alt="Category Image"
                                class="w-full h-full object-cover">
                            <div class="absolute inset-0 bg-black bg-opacity-50"></div>
                            <div class="absolute bottom-0 xs:pb-6 md:pb-8 lg:pb-10 w-full h-fit flex flex-col justify-start items-center text-center z-20">
                                <h6 class="product-name mb-2.5 uppercase sm:text-xl md:text-2.5xl text-white">makeup</h6>
                                <button
                                    class="product-price text-sm font-normal uppercase bg-white xs:w-80% xs:mx-auto md:w-fit md:px-16 xs:py-3 md:py-4">shop
                                    now</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="product-item w-full max-w-100 h-fit flex flex-col justify-start items-center text-center" role="listitem">
                    <a href="#" class="product-block w-full h-fit">
                        <div class="relative w-full h-fit">
                            <img src="../../assets/images/category-list-img03.jpg" alt="Category Image"
                                class="w-full h-full object-cover">
                            <div class="absolute inset-0 bg-black bg-opacity-50"></div>
                            <div class="absolute bottom-0 xs:pb-6 md:pb-8 lg:pb-10 w-full h-fit flex flex-col justify-start items-center text-center z-20">
                                <h6 class="product-name mb-2.5 uppercase sm:text-xl md:text-2.5xl text-white">fragrance</h6>
                                <button
                                    class="product-price text-sm font-normal uppercase bg-white xs:w-80% xs:mx-auto md:w-fit md:px-16 xs:py-3 md:py-4">shop
                                    now</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="product-item w-full max-w-100 h-fit flex flex-col justify-start items-center text-center" role="listitem">
                    <a href="#" class="product-block w-full h-fit">
                        <div class="relative w-full h-fit">
                            <img src="../../assets/images/category-list-img04.jpg" alt="Category Image"
                                class="w-full h-full object-cover">
                            <div class="absolute inset-0 bg-black bg-opacity-50"></div>
                            <div class="absolute bottom-0 xs:pb-6 md:pb-8 lg:pb-10 w-full h-fit flex flex-col justify-start items-center text-center z-20">
                                <h6 class="product-name mb-2.5 uppercase sm:text-xl md:text-2.5xl text-white">hair care</h6>
                                <button
                                    class="product-price text-sm font-normal uppercase bg-white xs:w-80% xs:mx-auto md:w-fit md:px-16 xs:py-3 md:py-4">shop
                                    now</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="product-item w-full max-w-100 h-fit flex flex-col justify-start items-center text-center" role="listitem">
                    <a href="#" class="product-block w-full h-fit">
                        <div class="relative w-full h-fit">
                            <img src="../../assets/images/category-list-img05.jpg" alt="Category Image"
                                class="w-full h-full object-cover">
                            <div class="absolute inset-0 bg-black bg-opacity-50"></div>
                            <div class="absolute bottom-0 xs:pb-6 md:pb-8 lg:pb-10 w-full h-fit flex flex-col justify-start items-center text-center z-20">
                                <h6 class="product-name mb-2.5 uppercase sm:text-xl md:text-2.5xl text-white">nail care</h6>
                                <button
                                    class="product-price text-sm font-normal uppercase bg-white xs:w-80% xs:mx-auto md:w-fit md:px-16 xs:py-3 md:py-4">shop
                                    now</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="product-item w-full max-w-100 h-fit flex flex-col justify-start items-center text-center" role="listitem">
                    <a href="#" class="product-block w-full h-fit">
                        <div class="relative w-full h-fit">
                            <img src="../../assets/images/category-list-img06.jpg" alt="Category Image"
                                class="w-full h-full object-cover">
                            <div class="absolute inset-0 bg-black bg-opacity-50"></div>
                            <div class="absolute bottom-0 xs:pb-6 md:pb-8 lg:pb-10 w-full h-fit flex flex-col justify-start items-center text-center z-20">
                                <h6 class="product-name mb-2.5 uppercase sm:text-xl md:text-2.5xl text-white">beauty tools</h6>
                                <button
                                    class="product-price text-sm font-normal uppercase bg-white xs:w-80% xs:mx-auto md:w-fit md:px-16 xs:py-3 md:py-4">shop
                                    now</button>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>