<div class="page-title">
    <div class="page-container">
        <div class="section-title">
            <h2 class="page-heading">Contact Us</h2>
        </div>
    </div>
</div>
<div class="page-wrapper">
    <section class="contact-section w-full h-fit xs:mt-15 md:mt-20 xs:mb-20 md:mb-36 mx-auto">
        <div class="contact-wrap w-full max-w-7xl h-fit px-5 mx-auto flex xs:flex-col md:flex-row xs:justify-center md:justify-between items-center xs:space-y-12 md:space-y-0 md:space-x-20">
            <div class="contact-info-wrap md:basis-1/2 grid grid-cols-2 grid-rows-2 sm:gap-x-12 md:gap-x-16 lg:gap-x-24 gap-y-12">
                <div class="ci-block flex flex-col justify-start items-start">
                    <h4 class="contact-title xs:text-xl md:text-2xl mb-2.5">Office</h4>
                    <p class="address">BOUTIQUE, 4517 Washington Ave. Manchester, Kentucky 39495</p>
                </div>
                <div class="ci-block flex flex-col justify-start items-start">
                    <h4 class="contact-title xs:text-xl md:text-2xl mb-2.5">Email</h4>
                    <a href="#" class="text-link">contact&commat;boutique.com</a>
                    <a href="#" class="text-link">boutique&commat;support.com</a>
                </div>
                <div class="ci-block flex flex-col justify-start items-start">
                    <h4 class="contact-title xs:text-xl md:text-2xl mb-2.5">Call</h4>
                    <a href="#" class="text-link">(302) 555-0107</a>
                    <a href="#" class="text-link">(702) 555-0122</a>
                </div>
                <div class="ci-block flex flex-col justify-start items-start">
                    <a href="#" class="text-link">Twitter</a>
                    <a href="#" class="text-link">Facebook</a>
                    <a href="#" class="text-link">Instagram</a>
                    <a href="#" class="text-link">YouTube</a>
                </div>
            </div>
            <div class="contact-img w-full h-fit basis-1/2">
                <img src="../../assets/images/contact-img01.jpg" alt="">
            </div>
        </div>
    </section>
    <section class="form-section w-full h-fit xs:mb-20 md:mb-24 lg:mb-36 mx-auto">
        <div class="cf-wrap w-full max-w-7xl h-fit px-5 mx-auto flex xs:flex-col-reverse md:flex-row xs:justify-center md:justify-between items-center xs:gap-y-10 md:gap-y-0 md:space-x-20">
            <div class="contact-img w-full h-fit md:basis-1/2">
                <img src="../../assets/images/cf-img01.jpg" alt="">
            </div>
            <div class="cf-block md:basis-1/2 w-full h-full flex flex-col justify-center items-center">
                <div class="contact-form w-full h-fit flex flex-col justify-center items-center">
                    <form class="form w-full h-fit flex flex-col justify-center items-start">
                        <div class="form-inner w-full h-full flex flex-col justify-center items-center">
                            <div class="contact-form-block w-full h-hit grid grid-cols-2 md:grid-rows-3 lg:grid-rows-4 gap-x-8 gap-y-10">
                                <div class="form-field">
                                    <label for="firstName" class="field-label">First Name</label>
                                    <input type="text" id="firstName" class="text-field" name="firstName" maxlength="256" placeholder="Enter your first name">
                                </div>
                                <div class="form-field">
                                    <label for="lastName" class="field-label">Last Name</label>
                                    <input type="text" id="lastName" class="text-field" name="lastName" maxlength="256" placeholder="Enter your last name">
                                </div>
                                <div class="form-field">
                                    <label for="phone" class="field-label">Phone</label>
                                    <input type="tel" id="phone" class="text-field" name="phone" maxlength="256" placeholder="Enter your phone number">
                                </div>
                                <div class="form-field">
                                    <label for="email" class="field-label">Email</label>
                                    <input type="email" id="email" class="text-field" name="email" maxlength="256" placeholder="Enter your email">
                                </div>
                                <div class="form-field row-start-3 md:row-end-4 lg:row-end-5 lg:row-span-2 col-start-1 col-end-3 col-span-2">
                                    <label for="message" class="field-label">Message</label>
                                    <textarea name="message" id="message" class="textarea resize-y" maxlength="5000" placeholder="Enter your message here..."></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-bottom xs:mt-10 lg:mt-15 w-full h-fit flex flex-row justify-end items-center">
                            <button type="submit" class="primary-btn submit-btn">
                                <div class="uppercase">Submit</div>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.25" stroke="currentColor"
                                    class="size-5">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
                                </svg>
                            </button>
                        </div>
                    </form>
                    <div class="success-message"></div>
                    <div class="error-message"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="featured-section xs:py-16 lg:py-32 xs:mb-20 lg:mb-36 w-full h-fit bg-green">
        <div
            class="featured-wrap px-5 mx-auto w-full max-w-7xl h-fit xs:grid xs:grid-flow-row xs:grid-cols-2 lg:grid-cols-4 gap-8 text-left">
            <div class="featured">
                <div class="featured-icon">
                    <img src="../../assets/images/featured-img-01.svg" alt="">
                </div>
                <div class="featured-text">
                    <h5 class="featured-title">
                        Free Shipping
                    </h5>
                    <div class="f-small-text">
                        Free Delivery
                    </div>
                </div>
            </div>
            <div class="featured">
                <div class="featured-icon">
                    <img src="../../assets/images/featured-img-02.svg" alt="">
                </div>
                <div class="featured-text">
                    <h5 class="featured-title">
                        Easy Returns
                    </h5>
                    <div class="f-small-text">
                        Quick Refunds
                    </div>
                </div>
            </div>
            <div class="featured">
                <div class="featured-icon">
                    <img src="../../assets/images/featured-img-03.svg" alt="">
                </div>
                <div class="featured-text">
                    <h5 class="featured-title">
                        24 Hours Service
                    </h5>
                    <div class="f-small-text">
                        24/7 Support
                    </div>
                </div>
            </div>
            <div class="featured">
                <div class="featured-icon">
                    <img src="../../assets/images/featured-img-04.svg" alt="">
                </div>
                <div class="featured-text">
                    <h5 class="featured-title">
                        Fast Delivery
                    </h5>
                    <div class="f-small-text">
                        Quick Delivery
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="faq-section w-full h-fit flex flex-col justify-center items-center xs:mb-20 md:mb-24 lg:mb-36">
        <div class="w-full max-w-7xl h-fit px-5 mx-auto flex xs:flex-col md:flex-row justify-between items-start">
            <div class="section-head-wrap pt-2.5 mb-10 w-full h-fit flex flex-col justify-start items-start basis-2/5 text-left">
                <div class="sh-wrap w-fit h-fit flex flex-row justify-start items-start">
                    <div class="sh-block bg-pink -mt-2.5 w-2.5 h-2.5 rounded-tl-full rounded-tr-full rounded-bl-full text-left"></div>
                    <div class="sub-heading">
                        FAQ
                    </div>
                </div>
                <h2 class="section-titile">Frequently Asked Questions</h2>
            </div>
            <div class="w-full h-fit flex flex-col justify-start items-start basis-3/5 font-primary">
              <details class="w-full border-b border-black">
                <summary class="py-5 outline-none cursor-pointer text-lg leading-loose">What types of products are sold in a boutique?</summary>
                <div class="pb-4 transition duration-300 ease-in-out">
                  <p class="font-light text-dark text-base">Yes, we offer revisions to our designs. We understand the importance of client satisfaction, and we are committed to refining and perfecting our work based on your feedback.</p>
                </div>
              </details>
              <details class="w-full border-b border-black">
                <summary class="py-5 outline-none cursor-pointer text-lg leading-loose">What is the typical atmosphere in a boutique?</summary>
                <div class="pb-4 transition duration-300 ease-in-out">
                  <p class="font-light text-dark text-base">The focus is on providing a personalized shopping experience with attentive customer service, creating a cozy and welcoming environment for customers to explore and discover unique products.</p>
                </div>
              </details>
              <details class="w-full border-b border-black">
                <summary class="py-5 outline-none cursor-pointer text-lg leading-loose">How often do boutiques restock their inventory?</summary>
                <div class="pb-4 transition duration-300 ease-in-out">
                  <p class="font-light text-dark text-base">Cosmetic product restocking frequency can vary depending on factors such as product popularity, demand, and inventory management strategies. Generally, cosmetic brands aim to maintain a regular inventory replenishment schedule to ensure product availability.</p>
                </div>
              </details>
              <details class="w-full border-b border-black">
                <summary class="py-5 outline-none cursor-pointer text-lg leading-loose">Does the Flawless Finish Foundation contain SPF?</summary>
                <div class="pb-4 transition duration-300 ease-in-out">
                  <p class="font-light text-dark text-base">Yes, the Flawless Finish Foundation is infused with SPF 30 to provide sun protection. While it offers some level of sun defense, it's still recommended to apply a separate sunscreen for extended periods of sun exposure.</p>
                </div>
              </details>
              <details class="w-full border-b border-black">
                <summary class="py-5 outline-none cursor-pointer text-lg leading-loose">Can I place a special order at a boutique?</summary>
                <div class="pb-4 transition duration-300 ease-in-out">
                  <p class="font-light text-dark text-base">Yes, many boutiques offer the option for customers to place special orders. If a boutique carries a particular brand or product line but doesn't have a specific item or size in stock, they may be able to place a special order on your behalf. This allows you to request a specific item or size that is not currently available in the boutique</p>
                </div>
              </details>
              <details class="w-full border-b border-black">
                <summary class="py-5 outline-none cursor-pointer text-lg leading-loose">Can I sell my product in a boutique?</summary>
                <div class="pb-4 transition duration-300 ease-in-out">
                  <p class="font-light text-dark text-base">Yes, it is possible to sell your product in a boutique. Boutiques are often open to partnering with independent brands and designers to offer unique products to their customers. To sell your product in a boutique, you would typically need to approach the boutique owner or buyer, provide information about your product, and showcase its uniqueness and appeal.</p>
                </div>
              </details>
              <details class="w-full border-b border-black">
                <summary class="py-5 outline-none cursor-pointer text-lg leading-loose">How is a boutique different from a regular store?</summary>
                <div class="pb-4 transition duration-300 ease-in-out">
                  <p class="font-light text-dark text-base">Boutiques focus on providing a more personalized shopping experience. They often have knowledgeable staff who can offer personalized recommendations, styling advice, and a higher level of customer service compared to regular stores.</p>
                </div>
              </details>
            </div>
          </div>
    </section>
</div>