<div class="page-wrapper">
    <div class="product-wrap w-full h-fit max-w-7xl mt-20 mb-15 mx-auto px-5">
        <div class="w-full mx-auto h-fit flex flex-col justify-start items-center">
            <div class="w-full h-fit flex flex-row justify-between items-center space-x-20">
                <div class="product-image-wrap basis-1/2 w-full">
                    <img class="w-full" src="../../../assets/images/product-details-01.jpg" alt="Product Image">
                </div>
                <div class="product-info basis-1/2 w-full h-fit flex flex-col justify-start items-start">
                    <h2 class="product-main-name xs:text-3xl md:text-4.5xl lg:text-5.25xl font-thin mb-2.5">Anti-Aging Serum</h2>
                    <p class="text-dark font-light tracking-wide mb-4">Step into the enchanting world of Chanel, where elegance and allure intertwine to create a captivating olfactory masterpiece. This exquisite fragrance is meticulously crafted to evoke emotions, leaving a lasting impression that lingers in the air. At its core, Chanel reveals a harmonious blend of carefully selected notes, each playing a vital role in the symphony of scents. The intoxicating floral bouquet of [describe floral notes] embraces the senses, drawing you deeper into its captivating allure.</p>
                    <div class="product-price-box w-full h-fit mt-7 flex flex-row justify-start items-start text-left gap-x-4">
                        <div class="sale-price font-normal uppercase text-2.5xl text-black">
                            $ 45.50 USD
                        </div>
                        <div class="text-dark font-light">June 17, 2023</div>
                    </div>
                    <div class="add-to-cart w-full h-fit flex flex-row justify-start items-center">
                        <form class="w-full h-fit flex flex-row justify-start items-center mb-3.5 mt-12 gap-x-4 leading-more-loose">
                            <input id="quantity" type="number" value="1" class="w-16 pl-3 py-2 pr-1.5 border">
                            <button class="bg-black text-white font-normal h-full px-9 py-4 leading-tight">Add to Cart</button>
                        </form>
                    </div>
                    <div class="product-information w-full h-fit mt-10 flex flex-col justify-start items-start gap-y-4">
                        <div class="product-detail w-full h-fit flex flex-row justify-start items-center text-left gap-x-2">
                            <div class="info-title text-lg text-dark font-normal">SKU:</div>
                            <div class="data-info text-dark txt-base font-light">824</div>
                        </div>
                        <div class="product-detail w-full h-fit flex flex-row justify-start items-center text-left gap-x-2">
                            <div class="info-title text-lg text-dark font-normal">Tag:</div>
                            <div class="data-info text-dark txt-base font-light">Eau De Perfume</div>
                        </div>
                        <div class="product-detail w-full h-fit flex flex-row justify-start items-center text-left gap-x-2">
                            <div class="info-title text-lg text-dark font-normal">Category:</div>
                            <div class="data-info text-dark txt-base font-light underline">Makeup</div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <div class="p-details-wrap w-full h-fit max-w-7xl flex flex-col justify-start items-center mx-auto px-5 mb-36">
        <div class="description">
            <h3 class="text-2.5xl font-light mb-2.5">Description</h3>
            <p class="font-light text-dark text-base mb-4 leading-more-loose">Step into the enchanting world of Chanel, where elegance and allure intertwine to create a captivating olfactory masterpiece. This exquisite fragrance is meticulously crafted to evoke emotions, leaving a lasting impression that lingers in the air. At its core, Chanel reveals a harmonious blend of carefully selected notes, each playing a vital role in the symphony of scents. The intoxicating floral bouquet of [describe floral notes] embraces the senses, drawing you deeper into its captivating allure.</p>
            <ul class="pl-7 mb-2.5 list-disc font-light text-dark text-base leading-more-loose">
                <li class="pb-2.5">Buildable coverage: This concealer provides customizable coverage from sheer to full, ensuring a natural-looking finish.</li>
                <li class="pb-2.5">Radiant finish: It imparts a luminous glow to the skin, brightening the under-eye area and adding a healthy radiance.</li>
                <li class="pb-2.5">Long-lasting formula: The concealer stays put throughout the day without creasing or fading, maintaining a fresh appearance.</li>
                <li class="pb-2.5">Wide shade range: NARS offers a diverse range of shades to cater to different skin tones, ensuring a precise match.</li>
            </ul>
        </div>
        <div class="information mt-10">
            <h3 class="text-2.5xl font-light mb-2.5">Information</h3>
            <h5 class="text-lg font-normal text-black mb-2.5">Product Size:</h5>
            <p class="font-light text-base text-dark mb-4">1 Fluid ounce (30ml)</p>
            <p class="w-full h-4 font-light text-base text-black mb-4"></p>
            <h5 class="text-lg font-normal text-black mb-2.5">Suitable For:</h5>
            <p class="font-light text-base text-dark mb-4">All skin types</p>
            <p class="w-full h-4 font-light text-base text-black mb-4"></p>
            <h5 class="text-lg font-normal text-black mb-2.5">Skin Benefits:</h5>
            <p class="font-light text-base text-dark mb-4">The formula is infused with hydrating and antioxidant ingredients, such as hyaluronic acid, vitamin E, and peptides, which help to improve the skin's texture and provide long-term benefits.</p>
            <p class="w-full h-4 font-light text-base text-black mb-4"></p>
            <h5 class="text-lg font-normal text-black mb-2.5">Versatile Use:</h5>
            <p class="font-light text-base text-dark mb-4">Apart from concealing imperfections and dark circles, the concealer can also be used for highlighting and contouring, as well as spot concealing.</p>
            <p class="w-full h-4 font-light text-base text-black mb-4"></p>
        </div>
    </div>
    <div class="selling-wrap w-full max-w-screen-xl h-fit flex flex-col justify-start items-center mb-36">
        <div class="section-head-wrap pt-2.5 mb-10 w-full h-fit flex flex-col justify-start items-center">
            <h2 class="section-titile">Similar Product</h2>
        </div>
        <div class="w-dyn-list text-dark w-full h-fit flex flex-row justify-center items-center mx-auto">
            <ul class="product-list w-full h-fit mx-5 grid grid-flow-row xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-4 gap-y-16" role="list">
                <li class="product-item flex flex-col justify-start items-center text-center" role="listitem">
                    <a href="#" class="product-block">
                        <span class="product-img-wrap">
                            <img src="../../assets/images/selling-img-01.jpg" alt="">
                        </span>
                        <span class="product-data mt-4 flex flex-col justify-start items-center text-center">
                            <h6 class="product-name mb-1.5">Anti-Aging Serum</h6>
                            <div class="product-price text-sm font-normal">$ 45.50 USD</div>
                        </span>
                    </a>
                </li>
                <li class="product-item product-item flex flex-col justify-start items-center text-center" role="listitem">
                    <a href="#" class="product-block">
                        <span class="product-img-wrap">
                            <img src="../../assets/images/selling-img-02.jpg" alt="">
                        </span>
                        <span class="product-data mt-4 flex flex-col justify-start items-center text-center">
                            <h6 class="product-name mb-1.5">Beauty Elixir</h6>
                            <div class="product-price text-sm font-normal">$ 82.00 USD</div>
                        </span>
                    </a>
                </li>
                <li class="product-item product-item flex flex-col justify-start items-center text-center" role="listitem">
                    <a href="#" class="product-block">
                        <span class="product-img-wrap">
                            <img src="../../assets/images/selling-img-03.jpg" alt="">
                        </span>
                        <span class="product-data mt-4 flex flex-col justify-start items-center text-center">
                            <h6 class="product-name mb-1.5">Brow Perfection Pencil</h6>
                            <div class="product-price text-sm font-normal">$ 30.00 USD</div>
                        </span>
                    </a>
                </li>
                <li class="product-item product-item flex flex-col justify-start items-center text-center" role="listitem">
                    <a href="#" class="product-block">
                        <span class="product-img-wrap">
                            <img src="../../assets/images/selling-img-04.jpg" alt="">
                        </span>
                        <span class="product-data mt-4 flex flex-col justify-start items-center text-center">
                            <h6 class="product-name mb-1.5">Midnight Perfume</h6>
                            <div class="product-price text-sm font-normal">$ 71.52 USD</div>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>