<div class="header w-full h-fit flex flex-col justify-center items-center font-primary">
    <div class="header-top w-full h-fit py-2.5 px-5 bg-lightGreen flex flex-row justify-between items-center">
        <div class="header-top-left flex flex-row justify-start items-center">
            <div class="font-extralight text-xs">Find Store</div>
            <div class="header-divider font-extralight text-lg text-gray-400 mx-2">|</div>
            <div class="header-mail font-extralight text-xs">support&commat;boutique.com</div>
        </div>
        <div class="header-top-right font-extralight text-xs">3891 Ranchview Dr. Richardson, California 62639</div>
    </div>
    <div class="navbar">
        <div class="navbar-wrap">
            <div class="navigation">
                <div class="nav-menu-two">
                    <ul class="nav-menu-block">
                        <li class="nav-item">OUR STORY</li>
                        <li class="nav-item">SHOP</li>
                        <li class="nav-item">CATEGORY</li>
                        <li class="nav-item">BLOGS</li>
                        <li class="nav-item">REVIEWS</li>
                        <li class="nav-item">CONTACT</li>
                    </ul>
                    <a class="navbar-brand">BOUTIQUE</a>
                    <div class="head-right">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>