<div class="page-wrapper w-full h-fit flex flex-col justify-start items-center">
    <section class="hero-section w-full h-fit p-0 m-0 flex flex-col justify-center items-center">
        <div class="hero-wrap w-full h-full lg:px-5 flex flex-row justify-center items-center bg-primary">
            <div class="hero-left w-full h-full basis-1/2 flex flex-col justify-center items-center">
                <div class="hero-data">
                    <div class="hero-text">
                        <div class="hero-sub-text mb-1.5 uppercase text-sm text-dark font-medium tracking-widest leading-loose">
                            Enhance Your Glow!
                        </div>
                        <h1 class="hero-title mb-5 text-5.5xl text-black font-medium leading-loose">
                            Unleash Your Inner Glow
                        </h1>
                        <div class="body-small text-sm text-dark font-normal">
                            Unlock Your Skin's Radiance
                        </div>
                    </div>
                    <div class="button-wrap hero-btn">
                        <a href="#" class="primary-btn">
                            <div>Shop Now</div>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.25" stroke="currentColor" class="size-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
                            </svg>
                              
                        </a>
                    </div>
                </div>
            </div>
            <div class="hero-right w-full basis-1/2 flex flex-col justify-center items-center">
                <img src="../../assets/images/hero-section-fragrance-img.jpg" alt="Hero Section Fragrance Image">
            </div>
        </div>
    </section>
    <section class="about-section">

    </section>
    <section class="selling-section">

    </section>
    <section class="featured-section">

    </section>
    <section class="collection-section">

    </section>
    <section class="cta-section">

    </section>
    <section class="category-section">

    </section>
    <section class="review-section">

    </section>
    <section class="news-section">

    </section>
</div>